/* h1{
    color:red;
} */
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
*{
    margin: 0;
}
.container{
    display:flex;
    width: 100vw;
    height: 100vh;
}
.bg_image{
    background-image: url("https://images.unsplash.com/photo-1550147760-44c9966d6bc7?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=375&q=80");
    width: 70%;
    height: 100vh;
    background-repeat: no-repeat;
    background-size: cover;
}


.login{
    background-color: #D5FFAA;
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.signup{
    display: flex;
    margin-top: 15%;
    width: 60%;
    height: 60%;
    border-radius: 47px;
    align-items: center;
    justify-content: flex-start;
    background: white;
    flex-direction: column;
    
}
.iiit_logo{
    position: absolute;
    top: 10px;
    right: 10px;
}
.form{
display: flex;
flex-direction: column;
height: 25%;
width: 90%;
justify-content: space-around;
align-self: flex-start;
padding: 5%;

}
    
.moi{
    margin-top: 5%;
    margin-bottom: 25%;
    height:auto;
    width:95%;
}
.uid_name{
    /* position: relative; */
    align-self: flex-start;
    font-family: 'Roboto', sans-serif;
    left: -30px;
    top: 10px;
    
}
.uid_no{
    /* position: relative; */
    width: 100%;
    height: 100%;
    left: -37px;
    border-radius:10px;
    border: none;
    background-color:#E4E3E3;
    
}
.uid_no:focus{
    outline: none;
    border: none;
}
.btn_send:focus, .btn_send:active, .btn_send{
    background: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #6a6a6a;
    /* position: relative; */
    left: 80px;
    align-self: flex-end;
}
.btn_send:hover{
    align-self: flex-end;
    background: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #1e1e1e;
    /* position: relative; */
    left: 80px;
}





/* OTP PAGE */




.btn_resend:focus, .btn_resend:active, .btn_resend{
    background: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #6a6a6a;
    position: relative;
    left: -80px;
    top: 30px;
}
.btn_resend:hover{
    background: none;
    border: none;
    outline: none;
    font-family: 'Roboto', sans-serif;
    color: #1e1e1e;
    position: relative;
    left: -80px;
    top: 30px;
}
.btn_verify {
    position: relative;
    width: 50%;
    left: 110px;
    top:12px;
    background-color: #122f2b;
    color:white;
    border-radius:10px;
    border: none;
    outline: none;
}
h4{
    font-family: 'Roboto', sans-serif;
    color: #a2a2a2;
    font-size: 12px;
    font-weight: normal;
}


/* Dashboard  */


.nav-con{
    display:flex;
    width:100vw;
    height:7vh;
}
.nav30{
    width: 30vw;
    background-color: #fff;
    box-shadow: 1px 7px 15px -2px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items: center;
    justify-content: space-around;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #807F7F;
}
.nav70{
    width: 70vw;
    background-color: #fff;
    box-shadow: 1px 7px 15px -2px rgba(0, 0, 0, 0.25);
    display:flex;
    align-items: center;
    justify-content: flex-end;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 28px;
    color: #807F7F;
}
.nav-dash,.nav-Schemes,.nav-profile{
    padding: 3%;
}
.body_container
{
    position:absolute;
    display: flex;
    width:100vw;
    height:93vh;
    z-index: -1;
    flex-direction: row;
}
.body30{
    display: flex;
    width:30vw;
    height:93vh;
    background-color:#D5FFAA;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title30{
    font-family: Roboto;
    font-style: normal;
font-weight: bold;
font-size: 18px;
line-height: 28px;
color: #000000;
align-self: flex-start;
padding-left: 10%;
padding-bottom: 4%;
}
.content30{
    width: 80%;
    height: 84%;
    background-color: #fafafa;
    border-radius: 35px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.body70{
    display: flex;
    width:70vw;
    height:93vh;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.title70{
    height:10%;
    width: 100%;
    /* padding-left: 5%;
    padding-top: 3%; */
}
.wlcm-text{
    padding-left: 5%;
    margin-top: 2%;
    font-size: 3vw;
}
.data70{
    height:50%;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    /* background-color: black; */
}
.pi_chart{
    width: 35%;
    height: 60%;
    background-color: red;
}
.rule{
    width: 1px;
    height: 60%;
    /* padding-right: 2%;
    padding-left: 2%; */
    background-color: #d2d2d2;
    
}

.pi_chart_data{
    width: 55%;
    height: 60%;
    background-color: blue;
}
.modi70{
    height:40%;
    width: 100%;
    /* background-color: blue; */
    display: flex;
    /* flex-direction: row; */
    justify-content: space-around;
}
hr{
    width: 90%;
    margin-left: auto;
    margin-right: auto;
    border-style: solid none none;
    margin-top: 1%;
    color: #d2d2d2;
}
.pi_container{
    display: flex;
    flex-direction: row;
    width: 80%;
    height: 10%;
    justify-content: space-between;
    align-items: center;
}

.pi_title{
font-family: Roboto;
font-style: normal;

font-size: 16px;
}
.city-con{
    display: flex;
    flex-direction: row;
    align-items: center;
}

.dropdown-icon{
    padding: 20%;
    padding-top: 30%;
}

.cities{
    height: 90%;
    width: 90%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    padding-bottom: 3%;
}
.city1,.city2,.city3,.city4,.city5,.city6,.city7,.city8,.city9,.city10{
    display: flex;
    flex-direction: row;
    height: 7%;
    width: 100%;
    background-color: #EFEFEE;
    align-items: center;
    justify-content: space-around;
    border-radius: 10px;
}
.swachimg{
    display: flex;
    flex-direction: column;
    justify-content: center;

}
.modiimg{
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.ind{
    width: 10% ;
   
    padding-right: 5%;
}
.up{
    color: limegreen;
}
.down{
    color: tomato;
}
.constant{
    padding-bottom: 50%;
    color: black;
}
.c{
    padding-left: 10% ;
    font-family: Roboto;
font-style: normal;
font-size: 18px;
    width: 40%;
}
.c_index{
    width: 10%;
    padding-left: 10%;
    
}






/* Dropdown Button */
.dropbtn {
    /* background-color: #3498DB; */
    color: white;
    /* padding: 16px;
    font-size: 16px; */
    border: none;
    cursor: pointer;
  }
  
  /* Dropdown button on hover & focus */
  .dropbtn:hover, .dropbtn:focus {
    
  }
  
  /* The container <div> - needed to position the dropdown content */
  .dropdown {
    position: relative;
    display: inline-block;
  }
  
  /* Dropdown Content (Hidden by Default) */
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  /* Links inside the dropdown */
  .dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }
  
  /* Change color of dropdown links on hover */
  .dropdown-content a:hover {background-color: #ddd}
  
  /* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
  .show {display:block;}